.header-container{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 99;
    background-color: var(--primary);
    padding-top: 20px;
}
.header-container .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo-img{
    width: 154px;
    float: left;
    display: flex;
    padding: 0 15px;
    margin-left: 40px;
}
.logo-img img{
    max-width: 100%;
    height: auto;
    display: block;
}
.button{
    text-decoration: none;
}
.btn-login{
    background-color: var(--white);
    border-color: var(--white)!important;
    color: var(--secondary) !important;
    height: 42px;
    font-size: 14px;
    font-weight: bold;
    line-height:1.5em;
    align-items: center;
    display: inline-flex;
    border: 1px solid var(--white);
    cursor: pointer;
}
.btn-login:hover{
    background-color: var(--white-secondary);
}
.btn-signup{
    background-color: #fff;
    color: var(--primary) !important;
    border-color: #fff;
    height: 42px;
    margin-left: 3px;
    align-items: center;
    display: inline-flex;
    font-size: 14px;
    font-weight: bold;
    line-height:1.5em;
    cursor: pointer;
}
.btn-signup:hover{
    color: #000;
    background-color: rgba(255, 255, 255, 0.897)
}
.btn-menu-toggle{
    position: absolute;
    left: 0;
}
@media screen and (max-width:992px){
    .header-container{
        position: relative;
    }
    .logo-img{
        width: 92px;
        margin: 0;
        padding: 0;
    }
    .btn-menu-toggle{
        right: 0;
        left: auto;
    }
    .login-sign{
        padding-right: 45px;
    }
}
@media only screen and (max-width:767px){
    .btn-login{
        height:33px;
        width: auto;
    }
    .btn-signup{
        height:33px;
        width: auto;
    }
}
@media screen and (max-width: 424px){
    .btn-signup span{
        display: none;
    }
    .login-sign{
        display: flex;
    }
}

/*  */
.featured-banner{
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    z-index: 0;
    margin-top: 80px;
}
.banner-img{
    background-image: url("https://www.careem.com/pubweb-v2/newsroom-articles/lg/now-insights.jpg");
    background-position: center center;
    background-size: cover;
    height:600px;
}
@media screen and (max-width: 992px){
    .featured-banner{
        margin-top: 0;
    }
}
@media screen and (max-width: 767px){
    .featured-banner .banner-img{
        height: 544px;
    }
}
/*  */
.section{
    padding: 80px 0;
    min-height: 80px;
}